<nav class="navbar navbar-light bg-light px-2 border border-secondary rounded">
  <form class="form-inline" (ngSubmit)="onSubmit()" f="ngForm">

    <label for="city">City</label>
     <input
            class="form-control"
            type="search"
            placeholder="Enter City Name"
            aria-label="Search"
            #city (input)="onSearchLocation(city.value)"required
          />

          <button class="btn btn-outline-success" type="submit">
            Search
          </button>


    <div>CITY FOUND : City Name</div>
  </form>
</nav>

